/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.item p.desc {
    min-height: 80px;
}

.item > div {
    background-color: #eee;
    padding: 0px 12px 4px 12px;
    border-radius: 4px;
}

.item > div > h2 {
    padding: 6px 0px 0px 0px;
}